/* ------------------RESET */
* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    font-family: 'Raleway', sans-serif;
}

/* Acima temos o reset do CSS já com a fonte utilizada */
/* .color1 { #724327 };
.color2 { #ddb49c };
.color3 { #692006 };
.color4 { #7ab09e };
.color5 { #b7ae9a }; 
*/

/* --------------------BODY */
/* No body defini uma imagem de background, utilizando um vw para ela se ajustar horizontalmente e fixed para que mesmo que precisasse rolar a pagina, ela ficasse estatica*/
body {
    background-image: url(img/background.jpg);
    background-size: 100vw;
    background-position: fixed;
}

/* ------------------------------MAIN */
/* Na main utilizei um backdrop filter aproveitando o background escuro para usar o invert para que ficasse claro no conversor  um margin auto para centralizar. Utilizei o height e width para delimitar a main, usei padding para os elementos não grudarem na borda e dei um border-radius para arredondar os cantos*/
main {
    backdrop-filter: invert(75%);
    height: 90vh;
    width: 50vw;
    margin: 5vh auto;
    border-radius: 20px;
    padding: 20px;
}

/* Aqui foram feitas as definições do h1, definindo tamanho, peso e foi usado um text-align para centralizar dentro da main e um margin-botton */
h1 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

/* --------------------------FORM */
/* no form usei um display flex para alinhar os elementos no sentido vertical e align itens para centralizar todo o conteudo. também deu um gap de 10px para que os elementos não fiquem grudados*/
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* na label eu defini tamanho e peso da font diferente */
label {
    font-size: 20px;
    font-weight: 700;
}

/* No input eu usei um width de 40% para que ele tivesse uma largura de 40% da main,  usei padding para que o conteudo do input não fique grudado nas bordas e um margin bottom para o input ter espaço maior entre ele e o botão*/
input {
    width: 40%;
    font-size: 25px;
    background: #fff4db;
    padding-left: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

/* alterei o  background do select para diferenciar ele do input*/
select {
    width: 40%;
    font-size: 20px;
    background: #b7ae9a;
}

/* No botão alterei a cor do background para dar destaque e alterei a cor da fonte para melhor visualização. alterei o tamanho e peso da fonte, determinei o tamanho do botão utilizando height e width e border-radius pra arredondar*/
button {
    color: #fff4db;
    background-color: #5a7b70;
    font-size: 25px;
    font-weight: 700;
    height: 40px;
    width: 200px;
    border-radius: 20px;
}

/* aumentei o tamanho da fonte usando a classe da div */
.resultado {
    font-size: 40px;
}

/* Coloquei um hover para que mude a cor quando o cursor para em cima, com uma transição de 0.3 segundos */
button:hover {
    background-color: #724327;
    transition: 0.3s;
}